// @import 'scss/variables.scss';

.repository_card {
  height: 100%;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__button {
    margin-right: 15px !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  &__list {
    padding: 0;
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
    text-align: center;
  }

  &__link {
    // color: $red;
    text-decoration: none;
  }
}
