@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  &__menu {
    grid-template-rows: 74px auto 80px;
  }

  &__no_menu {
    grid-template-rows: 0px auto 80px;
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
