$transparent-black: rgba(0, 0, 0, 0.3);
$black-shadow: rgba(0, 0, 0, 0.8);
$white: #fff;
$black: #000;
$red: #cc0000;
$darkRed: #721c24;
$backgroundRed: #f8d7da;
$borderRed: #f5c6cb;
$darkGreen: #155724;
$backgroundGreen: #d4edda;
$borderGreen: #c3e6cb;
